.mainCategoryList {
    margin: -3px;
    position: fixed;
    margin-top: -17em;
    padding-top: 65px;
}
/* hello */

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    border: 5px solid black;
}

hr {
    background-color: black;
    width: 248px;
}

h2 {
    color: #0F292F;;
}

.a {
    color: #0F292F;;
}