.forumForm {
    
        margin: 100px;
        border: solid 10px black;
        margin-top: 82px;
        margin-right: 17em;
        background-color: #CB2D6F;
    

}

/* .form-control {
    font-size:10px;
} */

#exampleSelect {
    font-size:20px;
    margin-left: 2em;
}
#exampleTextTitle {
    width: 45em;
    margin-left: 3em;
    color:#14A098;
    font-size: 20px;
}

#exampleTextQuestion {
    width: 78em;
    height: 13em;
    margin-left: 3em;
    color: #14A098;
    
}


h2 {
    margin-left: 1.5em;
}

.insertFileDiv {
    margin-left: 2.5em;
}

.formSubmitButton {
    margin-left:2em;
}

hr {
    
    width: 1125px;
    
}