    #userProfileLink {
        color: black;
        margin-left: 0.5em;
    }

    .triangle-right {
        position: relative;
    padding: 13px;
    margin: 1em 0 3em;
    /* margin-left: -12em; */
    color: #fff;
    background: #075698;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
    background: -webkit-linear-gradient(#CB2D6F, #CB2D36);
    background: linear-gradient(#CB2D6F, #CB2D36);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 173px;
    margin-bottom: 26px;
    /* margin-left: 75em; */
    padding-right: -1em;
    width: 38em;
    margin-left: 6em;
    margin-right: 40em;
    padding-top: 7em;
    list-style: beige;
      }

    .postTitle {
        font-size:36px;
    }

  

      .commentBody {
        margin-top:-70px;
        margin-top: -60px;
        margin-left: 2em;
      }

      .commentDate {
        margin-left: 427px;
      }
    
      .block-menue{
        display: block;
        background: #0F292F;
        width: 100%;
        position: fixed;
        z-index: 1;
        margin-top: 0em;
    }
/*       
    .card-bodyPostPage {
        height: 238px;
        margin-left: 26em;
        margin-right: 22em;
        
        padding: 2.25rem;
        position: relative;
        width: 41em;
        -webkit-margin-before: 6.1em;
    } */



    .fa-user {
        
        font-size: 15px;
        margin-top: 7em;
        padding-bottom: 1em;
        /* margin-left: -49em; */
        
        
    }

    .fas fa-user-second {
        font-size: 15px;
        margin-top: -3em;
        margin-top: 9em;
    }
    

    
    
    .forumFormForCommenting {
        background-color: transparent;
        border: #CB2D6F 3px solid;
        color: #0F292F;
        margin-left: 72em;
        /* margin-right: -42px; */
        padding: 2.25rem;
        position: fixed;
        /* margin-top: 51px; */
        padding-top: 3em;
        /* margin-top: 22px; */
        width: 32em;
        /* height: 4em; */
        -webkit-margin-before: -23.4em;
    }


    .card-bodyPostPage {
        height: 238px;
        margin-left: 3em;
        /* margin-right: 37em; */
        /* flex: 11 1 auto; */
        /* margin-top: 58px; */
        padding: 2.25rem;
        position: relative;
        width: 58em;
        -webkit-margin-before: 13.1em;
    }


    .card-title {
        font-size: -webkit-xxx-large;
        padding-bottom: 26px;
        margin-left: -1px;
    }
    .card-text {
        font-size: 25px;
    }
