
#card {
    background-color: transparent;
    border: #CB2D6F 3px solid;
    color: #0F292F;
    margin-left: 26em;
    margin-right: 22em;
    padding: 4.25rem;
    position: relative;
    width: 60em;
    -webkit-margin-before: 1.6em;
}
#card:hover {

 box-shadow: #14A098;
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    padding-right: 1em;
    padding-top: 7em;

    
}

/* #bottom_fade {
    z-index: 99;
    position: fixed;
    bottom: 0%;
    background-image: url("bottom-fade.png");
} */

.fa-comment {
    margin-top: 52px;
    
    font-size: 14px;
}

.fa-user {
    font-size: 14px;
    float: right;
    margin-top: 3.8em;
}

#questionOfPost {
    /* padding-left: 3em;
    
    font-size: 15px; */

    padding-left: 3em;
    font-size: 15px;
    padding-top: 20px;
}

#categoryTitle {
    
    margin-left: 11em;
    /* margin-top: -3em; */
    font-size: 58px;
    color: black;
    font-style: normal;
    margin-top: 1em;
    font-weight: 600;
    padding-bottom: 0.5em;
    
} 

h2 {
    font-size: 33px;
    line-height: 1.5;
    font-weight: bold;
}


