
#card {
    background-color: transparent;
    border: #CB2D6F 3px solid;
    color: #0F292F;
    margin-left: 26em;
    margin-right: 22em;
    padding: 4.25rem;
    position: relative;
    width: 60em;
    -webkit-margin-before: 1.6em;
}
#card:hover {

 box-shadow: #14A098;
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    padding-right: 1em;
    padding-top: 7em;
}


.fa-user {
    font-size: 10px;
    float: right;
}

#questionOfPost {
    padding-left: 3em;
    
    font-size: 15px;
}

#categoryTitle {
    margin-left: 1em;
    /* margin-top: -3em; */
    font-size: 46px;
    color: black;
    font-style: normal;
    margin-top: -1em;
    font-weight: 600;
    padding-bottom: 1em;
    font-family: 'Baloo Thambi', cursive;
    
} 

h2 {
    font-size: 33px;
    line-height: 1.5;
    font-weight: bold;
}

