#addPostTitle {
    margin-left: 4em;
    margin-top: 2em;
    margin-bottom: -1em;
}

#navTopClass  {
    display: block;
    width: 100%;
    position: fixed;
    z-index: 1;
    background: #f9f9f9;
    margin-top: -2.13em;
}

.backButtonDiv {
    position: fixed;
    margin-top: auto;
    margin-top: -727px;
    margin-left: 1300px;
}